Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Java

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools       |
---------------------------
| Jupyter Notebook          |
| RStudio                   |
| VS Code                   |

In [ ]:
Exercise 7 - Create a markdown cell introducing arithmetic expression examples

Here are some examples of basic arithmetic expressions:

1. **Addition**:  
   \( 5 + 3 = 8 \)

2. **Subtraction**:  
   \( 10 - 4 = 6 \)

3. **Multiplication**:  
   \( 7 \times 2 = 14 \)

4. **Division**:  
   \( 20 \div 4 = 5 \)

In [ ]:
Exercise 8 - Create a code cell to multiply and add numbers

In [14]:
a = 5
b = 3
# Multiply
product = a * b
# Add
sum_result = a + b
print(product)
print(sum_result)

15
8

In [ ]:
Exercise 9 - Create a code cell to convert minutes to hours

In [16]:
minutes = 200
hours = minutes / 60

# Display the result
print(hours)

3.3333333333333335

In [ ]:
Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

- List popular languages for Data Science.
- List common libraries used in Data Science.
- Demonstrate basic arithmetic expressions.
- Show how to convert minutes to hours.
- Understand how to multiply and add numbers in Python.

In [ ]:
Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Omkar Tiwari

In [ ]:
Exercise 12 - Share your notebook through GitHub